@charset "UTF-8";
@font-face {
  font-family: Rockwell;
  src: url(/style/fonts/ROCK.TTF);
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  color: #44BF44;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 90px;
  width: 100%;
  background-color: #343A40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
}

main {
  min-height: 90.4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  margin: 200px 0;
}

section > img {
  width: 99.6vw;
}

section > img:nth-child(2) {
  margin-top: -170px;
}

footer {
  height: 90px;
  background-color: #343A40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

img#navLogo {
  width: 70%;
}

img.socialmedia {
  width: 70%;
  height: 70%;
}

img#members {
  width: 100%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul > li {
  font-size: 1.75rem;
  margin: 0 22px;
  text-decoration: none;
}

ul.socialmedia li {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul div > hr {
  border: #44BF44 1px solid;
  border-radius: 1px;
  margin-left: -2vw;
  margin-top: -1px;
}

ul#navigation {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a {
  text-decoration: none;
}

a:hover, a:visited {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

i {
  font-style: normal;
  margin-left: -2vw;
  font-size: 0.8em;
  text-align: center;
}

h1 {
  background-color: #343A40;
  padding: 30px;
  text-align: center;
  font-style: italic;
  color: #FFC71B;
  letter-spacing: 15px;
  font-size: 3rem;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#vision {
  width: 80vw;
}

div#vision > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 30vw;
  background-color: #343A40;
  margin: 80px 350px 80px 80px;
}

div#vision > div > article > h2 {
  color: #FFC71B;
  font-weight: 100;
  text-decoration: underline;
  font-size: 2rem;
  letter-spacing: 2px;
}

div#vision > div > article > p {
  color: #FFC71B;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 1.5px;
}

div#vision aside > img {
  width: 50%;
}

div#kontakt, div#kontaktnät {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#kontakt > h1, div#kontaktnät > h1 {
  color: #009688;
  background-color: transparent;
}

div#kontakt > div, div#kontaktnät > div {
  margin: 80px;
}

div#kontakt > div > p, div#kontaktnät > div > p {
  color: #283D4E;
  font-size: 1.6rem;
  margin-right: 200px;
  letter-spacing: 4px;
  word-spacing: 6px;
}

div#kontakt > div > ul li, div#kontaktnät > div > ul li {
  margin: 30px;
}

div#kontakt > div > ul li > a img, div#kontaktnät > div > ul li > a img {
  width: 100%;
}

div#kontakt > #medverkare, div#kontaktnät > #medverkare {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

div#kontakt > #medverkare > div.medverkarobjekt > div, div#kontaktnät > #medverkare > div.medverkarobjekt > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 80px;
}

div#kontakt > #medverkare > div.medverkarobjekt > div > p, div#kontaktnät > #medverkare > div.medverkarobjekt > div > p {
  color: #283D4E;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 4px;
}

div#kontakt > #medverkare > div.medverkarobjekt > div > img, div#kontaktnät > #medverkare > div.medverkarobjekt > div > img {
  width: 60%;
}

div#kontakt > #medverkare > div.medverkarobjekt > h2, div#kontaktnät > #medverkare > div.medverkarobjekt > h2 {
  color: #283D4E;
  margin: 80px;
}
/*# sourceMappingURL=main.css.map */