@charset "UTF-8";
@font-face {
  font-family: Rockwell;
  src: url(/style/fonts/ROCK.TTF);
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(68, 191, 68, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #343A40;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-input-placeholder {
  color: #FFF;
}

:-ms-input-placeholder {
  color: #FFF;
}

::-ms-input-placeholder {
  color: #FFF;
}

::placeholder {
  color: #FFF;
}

* {
  color: #44BF44;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  height: 90px;
  width: 100%;
  background-color: #343A40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
}

nav > #mobileNav {
  display: none;
}

main {
  min-height: 90.4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.line {
  background-image: url("/resources/linegy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin: 8vh 0 10vh 0;
}

section.line#yc {
  background-image: url("/resources/lineyc.svg");
}

footer {
  height: 90px;
  background-color: #343A40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  margin: 0;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img#navLogo {
  width: 70%;
}

img.socialmedia {
  width: 35px;
  height: 35px;
}

img#members {
  width: 100%;
  margin-top: 80px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul > li {
  font-size: 1.75rem;
  margin: 0 22px;
  text-decoration: none;
}

ul.socialmedia li {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul div > hr {
  border: #44BF44 1px solid;
  border-radius: 1px;
  margin-left: -2vw;
  margin-top: -1px;
}

ul#navigation {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a {
  text-decoration: none;
}

a:hover, a:visited {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

i {
  font-style: normal;
  margin-left: -2vw;
  font-size: 0.8em;
  text-align: center;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#slogan {
  width: 70vw;
}

div#slogan > h1 {
  width: 100%;
  background-color: #343A40;
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
  color: #FFC71B;
  letter-spacing: 15px;
  font-size: 2.8vw;
}

div#vision {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70vw;
  padding-bottom: 50px;
}

div#vision > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 60%;
  background-color: #343A40;
}

div#vision > div > article > h2 {
  color: #FFC71B;
  font-weight: 100;
  text-decoration: underline;
  font-size: 2vw;
  letter-spacing: 2px;
}

div#vision > div > article > p {
  color: #FFC71B;
  font-size: 1.3vw;
  font-weight: 100;
  letter-spacing: 1.5px;
}

div#vision aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#vision aside > img {
  width: 10vw;
}

div#kontakt, div#kontaktnät {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#kontakt > h1, div#kontaktnät > h1 {
  color: #009688;
  background-color: transparent;
  font-size: 2vw;
}

div#kontakt > div, div#kontaktnät > div {
  margin: 80px;
}

div#kontakt > div > p, div#kontaktnät > div > p {
  color: #283D4E;
  font-size: 1.5vw;
  margin-right: 200px;
  letter-spacing: 1.5px;
  word-spacing: 4px;
}

div#kontakt > div > ul li, div#kontaktnät > div > ul li {
  margin: 0 30px;
}

div#kontakt > div > ul li > a img, div#kontaktnät > div > ul li > a img {
  width: 110%;
}

div#kontakt > #medverkare, div#kontaktnät > #medverkare {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: 30vw 30vw;
      grid-template-columns: 30vw 30vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
}

div#kontakt > #medverkare > div.medverkarobjekt, div#kontaktnät > #medverkare > div.medverkarobjekt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#kontakt > #medverkare > div.medverkarobjekt > div, div#kontaktnät > #medverkare > div.medverkarobjekt > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div#kontakt > #medverkare > div.medverkarobjekt > div > p, div#kontaktnät > #medverkare > div.medverkarobjekt > div > p {
  color: #283D4E;
  font-size: 1.3vw;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 4px;
}

div#kontakt > #medverkare > div.medverkarobjekt > div > img, div#kontaktnät > #medverkare > div.medverkarobjekt > div > img {
  height: 6vw;
}

div#kontakt > #medverkare > div.medverkarobjekt > div > img.profile, div#kontaktnät > #medverkare > div.medverkarobjekt > div > img.profile {
  height: 10vw;
}

div#kontakt > #medverkare > div.medverkarobjekt > div > h2, div#kontaktnät > #medverkare > div.medverkarobjekt > div > h2 {
  font-size: 32px;
  color: #283D4E;
  margin-top: 80px;
}

main#shop, main#one, main#payment {
  background-color: #343A40;
  min-height: 100vh;
}

main#shop div.card, main#one div.card, main#payment div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
}

main#shop div.card > img, main#one div.card > img, main#payment div.card > img {
  border-radius: 200px;
  width: 45vw;
}

main#shop div.card > a, main#one div.card > a, main#payment div.card > a {
  z-index: 1;
}

main#shop div.card > a h1, main#one div.card > a h1, main#payment div.card > a h1 {
  text-decoration: underline;
  background-color: transparent;
  color: #FFF;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-style: oblique;
  font-size: 3vw;
}

main#shop img#back, main#one img#back, main#payment img#back {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 6em;
}

main#shop div.container, main#one div.container, main#payment div.container {
  padding: 2%;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 10% 60% 30%;
      grid-template-rows: 10% 60% 30%;
}

main#shop div.container > .productInfo, main#one div.container > .productInfo, main#payment div.container > .productInfo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#shop div.container > .productInfo > .imagePresenter img.imageScreen, main#one div.container > .productInfo > .imagePresenter img.imageScreen, main#payment div.container > .productInfo > .imagePresenter img.imageScreen {
  border-radius: 25px;
  width: 80%;
  margin: 0 20px;
}

main#shop div.container > .productInfo > .imagePresenter img#imageRight, main#shop div.container > .productInfo > .imagePresenter img#imageLeft, main#one div.container > .productInfo > .imagePresenter img#imageRight, main#one div.container > .productInfo > .imagePresenter img#imageLeft, main#payment div.container > .productInfo > .imagePresenter img#imageRight, main#payment div.container > .productInfo > .imagePresenter img#imageLeft {
  width: 2.5rem;
}

main#shop div.container > div.description, main#one div.container > div.description, main#payment div.container > div.description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  padding: 10px 12.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#shop div.container > div.description > h2, main#one div.container > div.description > h2, main#payment div.container > div.description > h2 {
  font-weight: 500;
  font-size: 1.2vw;
  text-align: center;
  letter-spacing: 2px;
  color: #FFC71B;
}

main#shop div.container > h1, main#one div.container > h1, main#payment div.container > h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 1;
  color: #FFF;
  letter-spacing: 12px;
  word-spacing: 17px;
  font-size: 3em;
  font-weight: 600;
  background-color: transparent;
  margin-bottom: 10px;
  text-align: center;
}

main#shop div.container > form.choices, main#one div.container > form.choices, main#payment div.container > form.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  row-gap: 10px;
}

main#shop div.container > form.choices > div, main#one div.container > form.choices > div, main#payment div.container > form.choices > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#shop div.container > form.choices > div > label, main#one div.container > form.choices > div > label, main#payment div.container > form.choices > div > label {
  padding: 2px 0;
  color: #FFF;
  z-index: 1;
  width: 78%;
  font-size: 1.2em;
  letter-spacing: 1.5px;
  word-spacing: 5;
}

main#shop div.container > form.choices > div > input, main#one div.container > form.choices > div > input, main#payment div.container > form.choices > div > input {
  background-color: rgba(0, 150, 136, 0.8);
  border-style: none;
  border-radius: 20px;
  height: 30px;
  width: 80%;
  color: #FFF;
  z-index: 1;
  padding: 10px;
}

main#shop div.container > form.choices > div > textarea, main#one div.container > form.choices > div > textarea, main#payment div.container > form.choices > div > textarea {
  background-color: rgba(0, 150, 136, 0.8);
  border-style: none;
  border-radius: 20px;
  height: 100px;
  width: 80%;
  color: #FFF;
  z-index: 1;
  resize: none;
  padding: 10px;
}

main#shop div.container > div, main#one div.container > div, main#payment div.container > div {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

main#shop div.container > div a, main#one div.container > div a, main#payment div.container > div a {
  display: block;
  width: 80%;
}

main#shop div.container > div a button, main#one div.container > div a button, main#payment div.container > div a button {
  background-color: rgba(218, 59, 74, 0.8);
  border-style: none;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  padding: 10px;
  color: #FFC71B;
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 10px;
}

main#shop div.container > div p, main#one div.container > div p, main#payment div.container > div p {
  -ms-grid-column-align: left;
      justify-self: left;
  width: 78%;
  color: #FFC71B;
}

main#shop, main#one {
  background-image: url("/resources/lines.svg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 500px;
}

main#payment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  padding: 2%;
}

main#payment > div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#payment > div > img {
  width: 70%;
  border-radius: 40px;
}

main#payment > article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main#payment > article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main#payment > article > div div {
  width: 60%;
}

main#payment > article > div div > p {
  color: #FFC71B;
  text-align: center;
  font-size: 2rem;
}

main#payment > article > aside {
  width: 100%;
  margin: 5% 0 0 0;
}

main#payment > article > aside a {
  display: block;
  width: 80%;
}

main#payment > article > aside a button {
  background-color: rgba(218, 59, 74, 0.8);
  border-style: none;
  border-radius: 20px;
  height: 200px;
  width: 100%;
  padding: 10px;
  color: #FFC71B;
  font-size: 4rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 10px;
}

@media screen and (max-width: 1200px) {
  nav div {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav > ul.socialmedia li {
    display: none;
  }
  nav > ul#navigation {
    display: none;
  }
  nav div#mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 90px;
    background-color: #343A40;
  }
  nav div#mobileNav > ul#socialmedia {
    position: initial;
  }
  nav div#mobileNav > ul#navigation {
    position: initial;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transform: none;
            transform: none;
  }
  section.line {
    margin-bottom: 0;
  }
  div#hamburgermenu {
    display: none;
    position: initial;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    margin-right: 30px;
  }
  div#hamburgermenu img {
    height: 30px;
  }
  div#slogan h1 {
    font-size: 2.2vw;
    letter-spacing: 10px;
  }
  div#vision > div {
    width: 90%;
  }
  div#vision > div > article p {
    letter-spacing: 1px;
    font-size: 1.6vw;
  }
  div#vision > aside {
    display: none;
  }
  div#kontakt > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  div#kontakt > div > p {
    margin: 40px 0;
    font-size: 1.8vw;
  }
  main#shop {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main#shop > div.card {
    margin-top: 150px;
  }
  main#one div.container div.description > h2 {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 768px) {
  nav ul div {
    display: none;
  }
  div#hamburgermenu {
    width: 50px;
  }
  div#hamburgermenu img {
    height: 30px;
  }
}
/*# sourceMappingURL=main.css.map */