$gray: #343A40;
$green: #44BF44;
$yellow: #FFC71B;
$cyan: #009688;
$galaxy: #283D4E;

@font-face {
    font-family: Rockwell;
    src: url(/style/fonts/ROCK.TTF);
}

@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
width: 7px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: #888;
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}

* {
    color: $green;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav {
    height: 90px;
    width: 100%;
    background-color: #343A40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
}

main {
    min-height: 90.4vh;
    @include center;
    flex-direction: column;
}

section {
    margin: 200px 0;
    > img {
        width: 99.6vw;
    }

    > img:nth-child(2) {
        margin-top: -170px;
    }
}

footer {
    height: 90px;
    background-color: $gray;
    @include center;
    text-align: center;
}

img {
    &#navLogo {
        width: 70%;
    }
    &.socialmedia {
        width: 70%;
        height: 70%;
    }
    &#members {
        width: 100%;
    }
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    @include center;
    > li {
        font-size: 1.75rem;
        margin: 0 22px;
        text-decoration: none; 
    }

    &.socialmedia li{
        margin: 0 10px;
        @include center;
    }

    div > hr {
        border: $green 1px solid;
        border-radius: 1px;
        margin-left: -2vw;
        margin-top: -1px;
    }

    &#navigation {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }
}

a {
    text-decoration: none;
    &:hover, &:visited {
        text-decoration:solid;
    }  
}

i {
    font-style: normal;
    margin-left: -2vw;
    font-size: 0.8em;
    text-align: center;
}

h1 {
    background-color: $gray;
    padding: 30px;
    text-align: center;
    font-style: italic;
    color: $yellow;
    letter-spacing: 15px;
    font-size: 3rem;
}

div {
    @include center;
    &#vision {
        width: 80vw;
        > div {
            @include center();
            padding: 15px;
            width: 30vw;
            background-color: $gray;
            margin: 80px 350px 80px 80px;
            > article {
                > h2 {
                    color: $yellow;
                    font-weight: 100;
                    text-decoration: underline;
                    font-size: 2rem;
                    letter-spacing: 2px;
                }
                > p {
                    color: $yellow;
                    font-size: 1.2em;
                    font-weight: 100;
                    letter-spacing: 1.5px;
                }
            }
             
        }

        aside > img {
            width: 50%;
        }   
    }

    &#kontakt, &#kontaktnät {
        flex-direction: column;
        > h1 {
            color: $cyan;
            background-color: transparent;
        }
        > div {
            margin: 80px;
            > p {
                color: $galaxy;
                font-size: 1.6rem;
                margin-right: 200px;
                letter-spacing: 4px;
                word-spacing: 6px;
            }
            > ul li {
                margin: 30px;
                > a img {
                    width: 100%;
                }
            }

        }
        &> #medverkare {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;

            &> div.medverkarobjekt {
                > div {
                    @include center;
                    flex-direction: column;
                    margin: 80px;
                    > p {
                        color: $galaxy;
                        font-weight: bold;
                        letter-spacing: 2px;
                        word-spacing: 4px;
                    }
                    > img {
                        width: 60%;

                        
                    }
                }
                > h2 {
                    color: $galaxy;
                    margin: 80px;
                }

                
            }
        }
    }
}
