$gray: #343A40;
$green: #44BF44;

@font-face {
    font-family: Rockwell;
    src: url(/style/fonts/ROCK.TTF);
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
}

nav {
    height: 100px;
    background-color: #343A40;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img#navLogo {
    width: 70%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul > li {
    font-family: Rockwell;
    font-size: 1.75rem;
    margin: 0 22px;
    text-decoration: none;
    
}